@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

html{
    height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: black;
  height: 100%;
}

canvas { 
  display: block;
}

.botao-tela-inicial {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 1rem 1.25rem;
  font-size: 1.5rem;
  letter-spacing: .25rem;
  text-transform: uppercase;
  background-color: #0c0c0c;
  border: none;
  border-radius: .25rem;
  color: #fff;
}

.botao-tela-inicial:hover {
  background-color: #868686;
}